[project]
	description = test client for mongodb
[access "refs/*"]
	owner = group user/gfeng85 (gfeng85)
[access "refs/for/refs/*"]
	read = group user/gfeng85 (gfeng85)
	push = group user/gfeng85 (gfeng85)
	label-Code-Review = -2..+2 group user/gfeng85 (gfeng85)
	label-Verified = -1..+1 group user/gfeng85 (gfeng85)
	rebase = group user/gfeng85 (gfeng85)
	removeReviewer = group user/gfeng85 (gfeng85)
	submit = group user/gfeng85 (gfeng85)
[access "refs/heads/*"]
	read = group user/gfeng85 (gfeng85)
	create = group user/gfeng85 (gfeng85)
	push = +force group user/gfeng85 (gfeng85)
	pushMerge = group user/gfeng85 (gfeng85)
[access "refs/tags/*"]
	push = +force group user/gfeng85 (gfeng85)
	pushTag = group user/gfeng85 (gfeng85)
	pushSignedTag = group user/gfeng85 (gfeng85)
